<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Vrrb: <%= @from.name %>-<%= @to.name %></title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-startup-image" href="/splash.png" />
  <link rel="apple-touch-icon" href="/icon.png" />
  <link rel="stylesheet" href="vrrb.css" />
</head>
<body>
  <h1><%= @from.name %> - <%= @to.name %>
    <div class="reload"><a href="#" onclick="location.reload()">[Refresh]</a>
  </h1>
  <% @trains.each do |t|
        last_station = t.last_confirmed_departure_station
        from_station = t.stations.find {|s| s.name == @from.name}
        info_available = last_station.actual_departure != ""
        late_minutes = 0

        if info_available &&
                last_station.actual_departure != last_station.scheduled_departure
          s_time = Time.parse(last_station.scheduled_departure)
          a_time = Time.parse(last_station.actual_departure)
          late_minutes = (a_time - s_time).to_i / 60
        end

        dep_sched = Time.parse(from_station.scheduled_departure)
        est_time = Time.at(dep_sched.to_i + late_minutes * 60)
        now = Time.new
        time_left = (est_time - now).to_i / 60
  %>
    <h2>
      <div class="pad">
      <a href="<%= t.url %>">
      <span class="dep-time"><%= from_station.scheduled_departure %></span>
      <% if late_minutes != 0 %>
        <span class="est-time"><%= est_time.strftime("%H:%M") %></span>
      <% end %>
      <span class="train"><%= t.name %></span>
      </a>
    </div>
    </h2>
    <div class="trainInfo">
      <div class="time-left">
      L&auml;ht&ouml;&ouml;n <span class="minutes"><%= time_left %> min</span>
      </div>
      <% if info_available %>
          <p class="station-info">
            Sijainti 
            <span class="last-location"><%= last_station.name %></span>
            kello
            <span class="departure-time">
              <%= last_station.actual_departure %>
            </span>
          </p>
          <p class="update-info">
            M&auml;&auml;r&auml;np&auml;&auml;: <%= t.target %><br>
            P&auml;ivitetty <%= t.update_time %>
          </p>
      <% else %>
          <p class="no-info">
            Ei viel&auml; tietoja
          </p>
      <% end %>
    </div>
  <% end %> 
  <ul class="bottom-links">
    <li><a href="/">Hae muita reittejä</a></li>
    <li><a href="http://service.vr.fi/juku/haku.action?lang=fi&junalaji=ll">Suorat haut VR:lt&auml</a></li>
  </ul>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26051057-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
